{
  "parser": "babel-eslint",
  "extends": "standard",
  "rules": {
    "indent": [2, 4],
    "mocha/no-exclusive-tests": "error"
  },
  "globals": {
    "$": true,
    "$$": true,
    "browser": true
  }
}
